<ul>
		{#each records as record}
			<li>{record.API}</li>
		{/each}
    </ul>
    
    <script>
            export default {
                data() {
                    return {
                        records: [],
                       
                    };
                },
        
               
                methods: {
                    fetchData() {
                        var urly = 'https://api.publicapis.org/entries?category=animals&https=true'
                        fetch(urly)
                            .then(res => res.json())
                            .then(data => {
                                console.log(data)
                                this.set({ records: data.entries });
        
        
                                //this.set({ icons: data })
                            });
                    }
                },
        
        
        
                oncreate() {
                    //console.log(this.options);
                    this.fetchData();
        
        
        
                },
        
               
        
            };
        
        
        
        
        </script>